// Primary

$pink: #ff52bf;
$ligh-pink: #ff8fd8;
$light-red: #ff4242;
$red: #45f;

// Neutral

$very-dark-cyan: hsl(192, 100%, 9%);
$very-dark-cyan-shadow: hsla(192, 100%, 9%,.5);
$very-pale-blue: #f5faff;