@use '../abstract/index' as a;

.cta {
    justify-self: center;
    display: inline-block;
    margin-block-start: 1.6rem;
    font-weight: 600;
    padding: 1.6rem 1.9rem;
    text-decoration: none;
    text-align: center;
    background-color: a.$pink;
    border-radius: 3.2rem;
    box-shadow: -5px 8px 16px -10px a.$very-dark-cyan;
    color: white;
    &--hero {
        padding: 0.48rem 1.6rem;
        color: a.$ligh-pink;
        background-color: white;
        border: 2px solid a.$ligh-pink;
        box-shadow: 0 0 1px a.$very-dark-cyan;
    }
    &--input {
        border: none;
        margin-left: auto;
        border-radius: 0.4rem;
        padding: 0.96rem 0.4rem;
    }
    @include a.media-up(md) {
        padding: 1.6rem 3.52rem;
    }
}