@use '../abstract/index' as a;

.wave {
    position: absolute;
    inline-size: 100%;
    block-size: 10rem;
    background-repeat: no-repeat;
    background-size: 100% 100px;
    color: a.$red;
    &--bottom {
        left: 0;
        bottom: 0;
        //background-image: a.$wave-bottom;
    }
    &--top {
        left: 0;
        top: 0;
        //background-image: a.$wave-top;
    }
}